.hotelCard 
    display: flex
    flex-direction: column
    width: 50%
    border: 1px solid black
    border-radius: 10px
    margin-bottom: 50px
    
    &-header
        display: flex
        justify-content: space-between
        align-items: flex-start
        padding: 15px
        box-sizing: border-box
        height: 33%
        width: 100%
        border-top-left-radius: 10px
        border-top-right-radius: 10px

        &-images
            img 
                max-height: 190px
                border-radius: 10px
                // max-width: 100%
        &-title
            flex: 1
            padding: 10px

    &-rooms
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        flex: 1
        &-room
            display: flex
            align-items: center
            width: 100%
            padding: 15px
            border-top: 1px solid black
            box-sizing: border-box
            &-name
                min-width: 25%
                max-width: 25%
    